<style>
    #baurus {
        scroll-margin-top: 80px;
    }

</style>



<div class="container-fluid col-12 p-1" style="min-height: 100vh; background-color: #3D2219;" id="baurus">

    <!-- Título e Subtítulo -->
    <div class="text-center  fade-in">
        <h1 class="text-light display-4 pacifico-regular">Bauru</h1>
        @* <p class="text-light lead pacifico-regular">Temos diversos sabores.</p> *@
    </div>

    <!-- Conteúdo Central -->
    <div class="container">
        <div class="row justify-content-center">

            <!-- Card 1 -->
            <div class="card col-10 col-sm-6 col-md-4 col-xl-2 text-bg-light m-2 h-100">
                <img class="img-fluid card-img-top" src="bauru.png" style="max-height: 140px; object-fit: cover;" />
                <h4 class="card-header">Bauru de queijo e presunto</h4>
                <div class="card-body d-flex flex-column">
                    <p class="card-text flex-grow-1">
                        Recheado com sabor e tradição: nosso bauru tem massa macia, casquinha dourada e um delicioso recheio de queijo derretido com presunto.
                    </p>
                </div>
            </div>


      



   


        </div>
    </div>
</div>
