<style>
    #fazerpedido {
        scroll-margin-top: 80px;
    }

</style>



<div class="container-fluid col-12 p-1 bg-black" style="min-height: 100vh;" id="fazerpedido">

    <!-- Título e Subtítulo -->
    <div class="text-center  fade-in">
        <h1 class="text-light display-4 pacifico-regular">Fazer pedido</h1>
        @* <p class="text-light lead pacifico-regular">Delivery em breve...</p> *@
    </div>

    <!-- Conteúdo Central -->
    <div class="container text-center">

        <!-- Botão -->
       <a href="https://wa.me/553398619864?text=Ol%C3%A1%2C%20gostaria%20de%20fazer%20um%20pedido%2C%20vim%20pelo%20site."
   target="_blank"
   class="btn btn-success d-inline-flex align-items-center gap-2">
            <i class="fab fa-whatsapp"></i>
            Entrar em contato via Whats
</a>
    </div>

    <p class="text-light text-center lead pacifico-regular">Delivery em breve...</p>


    <div class="d-flex justify-content-center align-items-center" style="height:300px;">
        <img src="motoboy.png" class="img-fluid h-100 w-auto object-fit-contain" />
    </div>



</div>
