@* <div class="container-fluid col-12" style="height:100vh; background-color: #3D2219;"> *@
@*     <div class="row align-items-center justify-content-center py-4"> *@
@*         <!-- Frase --> *@
@*         <div id="frase" class="col-sm-12 col-md-8 col-lg-6  text-center py-3"> *@
@*             <h4 class="blockquote text-light"> *@
@*                 Lança o teu pão sobre as águas, porque depois de muitos dias o acharás *@
                
@*             </h4> *@
@*             <h4 class="blockquote-footer text-light">Eclesiastes 11:1</h4> *@
@*         </div> *@

@*         <!-- Imagem --> *@
@*         <div id="img-bread" class="col-sm-12 col-md-8 col-lg-6  text-center py-3"> *@
@*             <img src="bread.png" class="img-fluid ms-auto" style="height:300px;" /> *@
@*         </div> *@
@*     </div> *@
@* </div> *@


<style>
    .pacifico-regular {
        font-family: "Pacifico", cursive;
        font-weight: 400;
        font-style: normal;
    }

    #frase h4 {
        font-family: 'Pacifico', cursive;
        font-size: 1.5rem;
    }

    #frase .blockquote-footer {
        font-family: 'Quicksand', sans-serif;
        font-style: italic;
    }

    #frase p {
        font-family: 'Quicksand', sans-serif;
        font-size: 1rem;
    }


</style>



<div class="container-fluid col-12" style="height:90vh; background-color: #3D2219;">
  <!-- Título e Subtítulo -->
  <div class="text-center py-3 fade-in">
    <h1 class="text-light display-4 pacifico-regular">Uzipan</h1>
    <p class="text-light lead pacifico-regular">Onde o simples se torna extraordinário.</p>
  </div>

  <!-- Separador -->
  <hr class="text-light my-4" style="border: 1px solid white;">

  <!-- Conteúdo Central -->
  <div class="row align-items-center justify-content-center py-4">
    <!-- Frase -->
    <div id="frase" class="col-sm-12 col-md-8 col-lg-6 text-center py-3 fade-in">
      <h4 class="blockquote text-light">
        <i class="fas fa-bread-slice"></i>
        Lança o teu pão sobre as águas, porque depois de muitos dias o acharás
        <i class="fas fa-bread-slice"></i>
      </h4>
      <h4 class="blockquote-footer text-light">Eclesiastes 11:1</h4>
      <p class="text-light mt-3">
        Assim como o pão alimenta o corpo, a fé fortalece a alma.
      </p>
    </div>

    <!-- Imagem -->
    <div id="img-bread" class="col-sm-12 col-md-8 col-lg-6 position-relative text-center py-3 fade-in d-none d-lg-block">
      <div style="width: 5px; height: 300px; background: linear-gradient(to bottom, #f5deb3, #3D2219); position: absolute; left: 0; top: 50%; transform: translateY(-50%);"></div>
      <img src="bread2.png" class="img-fluid ms-auto" style="height:180px;" />
    </div>
  </div>
  </div>

