<nav class="navbar bg-light navbar-expand-sm sticky-top"> 
    <div class="container d-flex align-items-center"> 
        <!-- Botão hamburguer --> 
        <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#meuNavBar"> 
            <span class="navbar-toggler-icon"></span> 
        </button> 

        <!-- Menu de navegação --> 
        <div class="collapse navbar-collapse" id="meuNavBar"> 
            <div class="navbar-nav"> 
                <a href="#paes" class="nav-link">Pães</a> 
                <a href="#baurus" class="nav-link">Bauru</a> 
                @* <a href="#pasteis" class="nav-link">Pastéis</a>  *@
                <a href="#pizzas" class="nav-link">Pizzas</a> 
                @* <a href="#" class="nav-link disabled">Salgados (em breve)</a> *@
                <a href="#fazerpedido" class="nav-link">Fazer pedido</a>

            </div> 
        </div> 

        <!-- Imagem --> 
        <img src="gordin.png" alt="Logo" class="img-fluid ms-auto" style="height: 60px;"> 
    </div> 
</nav> 



@* <nav class="navbar bg-light navbar-expand-sm"> *@
@*     <div class="container d-flex align-items-center"> *@
@*         <!-- Botão hamburguer --> *@
@*         <button class="navbar-toggler me-auto" type="button" data-bs-toggle="collapse" data-bs-target="#meuNavBar"> *@
@*             <span class="navbar-toggler-icon"></span> *@
@*         </button> *@

@*         <!-- Menu de navegação --> *@
@*         <div class="collapse navbar-collapse" id="meuNavBar"> *@
@*             <div class="navbar-nav"> *@

@*                 <!-- Categoria Pães com submenu --> *@
@*                 <div class="nav-item dropdown"> *@
@*                     <a href="#" class="nav-link dropdown-toggle" id="paoDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
@*                         Pães *@
@*                     </a> *@
@*                     <ul class="dropdown-menu" aria-labelledby="paoDropdown"> *@
@*                         <li><a class="dropdown-item" href="#">Pão francês</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Pão de leite</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Pão de creme</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Pão de goiaba</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Pão de coco</a></li> *@
@*                     </ul> *@
@*                 </div> *@

@*                 <!-- Categoria Outros com submenu --> *@
@*                 <div class="nav-item dropdown"> *@
@*                     <a href="#" class="nav-link dropdown-toggle" id="outrosDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false"> *@
@*                         Outros *@
@*                     </a> *@
@*                     <ul class="dropdown-menu" aria-labelledby="outrosDropdown"> *@
@*                         <li><a class="dropdown-item" href="#">Donuts</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Pastéis</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Baguete</a></li> *@
@*                         <li><a class="dropdown-item" href="#">Bauru</a></li> *@
@*                     </ul> *@
@*                 </div> *@

@*             </div> *@
@*         </div> *@

@*         <!-- Imagem --> *@
@*         <img src="gordin.png" alt="Logo" class="img-fluid ms-auto" style="height: 70px;"> *@
@*     </div> *@
@* </nav> *@
